  <div *ngIf="shinypokemons">
	<div class="dropdown">
		<button class="button_coloring">Navigation</button>
		<div class="dropdown-content">
			<a [routerLink]="['/shiny']">Back</a>
			<a [routerLink]="['/pokemon', shinypokemons.pokemonId]">
				Normal Form
			</a>
			<a href="{{ shinypokemons.BulbURL }}">{{ shinypokemons.name }} Information</a>
		</div>
	  </div>
	<button class = "add_button button_coloring" (click)="addToTeam(shinypokemons)"><div class = "center white">Add To Team</div></button>
	<h2 class="header center">{{ shinypokemons.name }}</h2>
	<table class="pokemon_description border">
		<tr class="pokemon_row center">
			<th>Type: </th>
			<th colspan=4>{{ shinypokemons.type }} </th>
		</tr>
		<tr class="pokemon_row center">
			<th>Generation: </th>
			<th colspan=4>{{ shinypokemons.generation }} </th>
		</tr>
		<tr class="pokemon_row center">
			<th> Description: </th>
			<th colspan=4>{{ shinypokemons.description }} </th>
		</tr>
		<tr class="pokemon_row center">
			<th> Evolves by : </th>
			<th colspan=4>{{ shinypokemons.evolves }} </th>
		</tr>
	</table>
	<table class="pokemon_prevolution border">
		<tr class="pokemon_row center">
			<div *ngIf="shinypokemons.prevolutionOne != 'None' then NotNone1 else None1"></div>
			<th>
				<ng-template #NotNone1>
					<div class="card">
						Prevolution 1:
						<a [title]="shinypokemons.prevolutionOne + ' details'"
							[routerLink]="['/shinypokemon', shinypokemons.pokemonId-1]">
							{{ shinypokemons.prevolutionOne }}
						</a>
					</div>
				</ng-template>
				<ng-template #None1>
					<div class="card">
						Prevolution 1: {{ shinypokemons.prevolutionOne }}
					</div>
				</ng-template>
			</th>
			<div *ngIf="shinypokemons.prevolutionTwo != 'None' then NotNone2 else None2"></div>
			<th>
				<ng-template #NotNone2>
					<div class="card">
						Prevolution 2:
						<a [title]="shinypokemons.prevolutionTwo + ' details'"
							[routerLink]="['/shinypokemon', shinypokemons.pokemonId-2]">
							{{ shinypokemons.prevolutionTwo }}
						</a>
					</div>
				</ng-template>
				<ng-template #None2>
					<div class="card">
						Prevolution 2: {{ shinypokemons.prevolutionTwo }}
					</div>
				</ng-template>
			</th>
		</tr>
	</table>
	<table class="pokemon_evolution border">
		<tr class="pokemon_row center">
			<div *ngIf="shinypokemons.evolutionOne != 'None' then NotNone3 else None3"></div>
			<th>
				<ng-template #NotNone3>
					<div class=card>
						Evolution 1:
						<a [title]="shinypokemons.evolutionOne + ' details'"
							[routerLink]="['/shinypokemon', shinypokemons.pokemonId+1]">
							{{ shinypokemons.evolutionOne }}
						</a>
					</div>
				</ng-template>
				<ng-template #None3>
					<div class="card">
						Evolution 1: {{ shinypokemons.evolutionOne }}
					</div>
				</ng-template>
			</th>
			<div *ngIf="shinypokemons.evolutionTwo != 'None' then NotNone4 else None4"></div>
			<th>
				<ng-template #NotNone4>
					<div class="card">
						Evolution 2:
						<a [title]="shinypokemons.evolutionTwo + ' details'"
							[routerLink]="['/shinypokemon', shinypokemons.pokemonId+2]">
							{{ shinypokemons.evolutionTwo }}
						</a>
					</div>
				</ng-template>
				<ng-template #None4>
					<div class="card">
						Evolution 2: {{ shinypokemons.evolutionTwo }}
					</div>
				</ng-template>
			</th>
		</tr>
	</table>
	<img class = "picture2 picture_size" src = "{{ shinypokemons.stats }}"  alt = "{{shinypokemons.name}}"/>
	<img class = "picture picture_size" src = "{{ shinypokemons.pokemonURL }}"  alt = "{{shinypokemons.name}}"/>
</div>