<table id = "table">
	<tr> 
		<th> Pokemon </th>
		<th> Address </th>
	</tr>
	<tr>
		<td> Turtwig </td>
		<td> 116 Church St SE, Minneapolis, MN 55455 </td>
	</tr>
	<tr>
		<td> Trapinch </td>
		<td> 117 Pleasant St SE, Minneapolis, MN 55455 </td>
	</tr>
</table>
<div style="height:100%; width:100%;"> 
	<div id="map"></div>
</div>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnFmgCyt1fwHvYVBv4TvLB-QWPqLa-FBc&callback=initMap&libraries=places"
type="text/javascript"></script>