.topnav {
  clear: left;
  clear: right;
  overflow: hidden;
  background-color: #333;
  width: 100%;
  border-radius: 15px;  /*
  position: fixed;
  top: 0; 
  width: 100%; 
  */
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 16.666%;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.button{
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  color: blue;
  border: none;
}

.picture {
  clear: left;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/